## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/

## User-specific MSBuild / IDE
*.user
*.suo
*.userosscache
*.sln.docstates

## Local KSP path (copy from *.props.user.example)
KerbalismCompanionCalculator.props.user
